<h2 >{{titolo}}</h2>
<h3 class="text-warning">Clicca l'elemento della tabella per eliminarlo</h3>
<div>
    Inserisci Nome<input [(ngModel)]="nome" type="text">
    <button (click)="trovaGenere()" >Ricerca</button>
    <button (click)="removeAll()" >Cancella tutta cronologia</button>
    
    <p class="text-danger">{{error}}</p>
    <table  class="table table-borderless table-hover">
        <th>Name</th>
        <th>Gender</th>
        <th>Probability</th>
        <th>Count</th>
        <!-- {{"female" | ConvertiGenderPipe}}  ESEMPIO DI PIPE IN ./gender.transform.pipe.ts -->
        <tr  *ngFor="let schede of arr"(click)="removeData(schede.name)" >
            <td  >{{schede.name | PrimaMaiuscola}}</td>
            <td>{{schede.gender|ConvertiGenderPipe}}</td>
            <td>{{schede.probability|ConvertiProb}}</td>
            <td>{{schede.count}}</td>
        </tr>
    </table>
</div>
    