<h2 >{{titolo}}</h2>
<div>
    Inserisci Nome<input [(ngModel)]="nome" type="text">
    <button (click)="trovaGenere()" >Ricerca</button>
    <table>
        <th>Name</th>
        <th>Gender</th>
        <th>Propbability</th>
        <th>Count</th>

        <tr *ngFor="let schede of arr">
            <td>{{(schede.name)?schede.name:""}}</td>
            <td>{{(schede.gender=="male" && schede.gender)?"Maschile":"Femminile"}}</td>
            <td>{{schede.probability}}{{(schede.probability)?"%":""}}</td>
            <td>{{schede.count}}</td>
        </tr>
    </table>
</div>
    